<!-- Topbar Start -->
<mat-toolbar class="navbar-custom">
    <a mat-button class="companyName" routerLink="/">
        <span><i class="fas fa-bars"></i>&nbsp;Menu</span>
    </a>
    <span></span>
        <a mat-button class="companyName" routerLink="/actu">
            <span><i class="fas fa-bookmark"></i>&nbsp;Actualités</span>
        </a>
        <span></span>
            <a mat-button routerLink="/calculator" class="companyName"><i class="fas fa-calculator">&nbsp;Calculator</i></a>
        <span></span>
</mat-toolbar>
<!-- end Topbar -->

