
<div class="container-fluid">
    <div class="calculatorcontainer">
        <h1 style="color: white; font-size: 45px; text-align: center; padding-top: 30px; font-weight: bolder;">
            <i class="fad fa-lungs-virus"></i>
            <span class="title">Calculateur</span>
        </h1>
        <div class="container">
                        <mat-horizontal-stepper linear #stepper class="matstepper">
                <mat-step [stepControl]="ageForm" [editable]="true">
                    <form [formGroup]="ageForm">
                        <ng-template matStepLabel>Age</ng-template>
                        <div class="col nopad mb-3">
                            <div class="age">
                                <mat-button-toggle-group formControlName="age" name="fontStyle" aria-label="Font Style" required>
                                    <mat-button-toggle value=".2" (click)="SelectionAge();"><span class="font-weight-bold">1-19</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value=".3" (click)="SelectionAge();"><span class="font-weight-bold">20-39</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="2.5" (click)="SelectionAge();"><span class="font-weight-bold">40-59</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="5" (click)="SelectionAge();"><span class="font-weight-bold">60-79</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value="14.8" (click)="SelectionAge();"><span class="font-weight-bold">80-100+</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div>
                            <button mat-raised-button matStepperNext [disabled]="selectedStep1Option === false">Suivant</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="sexeForm" [editable]="true">
                    <form [formGroup]="sexeForm">
                        <ng-template matStepLabel required>Sexe</ng-template>
                        <div class="col nopad mb-4">
                            <div class="text-center sexe" type="gender">
                                <mat-button-toggle-group formControlName="sexe" name="fontStyle" aria-label="Font Style"
                                                         ngDefaultControl>
                                    <mat-button-toggle value=".15" (click)="SelectionSexe();"><span class="font-weight-bold">Homme</span>
                                    </mat-button-toggle>
                                    <mat-button-toggle value=".035" (click)="SelectionSexe();"><span class="font-weight-bold">Femme</span>
                                    </mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                        </div>
                        <div>
                            <button mat-raised-button matStepperPrevious>Retour</button>
                            <button mat-raised-button matStepperNext  [disabled]="selectedStep2Option === false">Suivant</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="maladieForm" [editable]="true">
                    <form [formGroup]="maladieForm">
                        <ng-template matStepLabel>Maladies</ng-template>
                        <div class="col nopad mb-4">
                            <h5 class="font-weight-bold mb-3 maladies">Avez vous une de ces maladies?</h5>
                            <div class="form-group mb-2">
                                <label class="example-margin">Maladie Cardio Vasculaire:&nbsp;&nbsp;</label>
                                <mat-slide-toggle formControlName="cardio" value="10.5" ></mat-slide-toggle>
                            </div>
                            <div class="form-group mb-3">
                                <label class="example-margin maladies">Diabète:&nbsp;&nbsp;</label>

                                <mat-slide-toggle formControlName="diabete" value="7.3" ></mat-slide-toggle>
                            </div>
                            <div class="form-group mb-3">
                                <label class="example-margin maladies">Maladie Respiratoire chronique:</label>
                                <mat-slide-toggle formControlName="respiration" value="6.3" ></mat-slide-toggle>
                            </div>
                            <div class="form-group mb-3">
                                <label class="example-margin maladies">Hypertension:&nbsp;&nbsp;</label>
                                <mat-slide-toggle formControlName="hypertension" value="6" ></mat-slide-toggle>
                            </div>
                            <div class="form-group mb-3">
                                <label class="example-margin maladies">Cancer:&nbsp;&nbsp;</label>
                                <mat-slide-toggle formControlName="cancer" value="5.6" ></mat-slide-toggle>
                            </div>
                        </div>
                        <div>
                            <button mat-raised-button matStepperPrevious>Retour</button>
                            <button mat-raised-button type="submit" (click)="onSubmit()">Valider</button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>
