:root {
  --stat-green: rgb(101, 221, 155);
  --stat-red: #F65164;
  --stat-orange: #FF9D00;
  --stat-amber: #ffc137;
  --stat-yellow: rgb(248, 245, 64);
  --stat-blue: rgb(68, 155, 226);
  --stat-cyan: #3ecee5;
  --paleGray: #DFDFEF;

  --color-primary: #5468b3;

  --color-navy-1: #2e3652;
  --color-navy-2: #364061;
  --color-navy-3: #3d486c;
  --color-navy-4: #445175;
  --color-navy-5: #4b5a81;

  --color-info: #347fd5;
  --color-success: #43ca54;
  --color-error: #F35353;
  --color-warning: #ffd337;

  --color-none: transparent;

  --color-facebook: #3b5998;
  --color-twitter: #1da1f2;
  --color-instagram: #fb3958;
  --color-youtube: red;
  --color-linkedin: #4875B4;
  --color-discord: #7289da;
  --color-stripe: #6772e5;
}

/*//html,*/
/*//body {*/
/*//  !*   width: 100%;*/
/*//    height: 100%; *!*/
/*//  background-color: var(--color-navy-3) !important;*/
/*//}*/
/*//*/
/*//body {*/
/*//  opacity: 0;*/
/*//  color: var(--paleGray);*/
/*//}*/

.bg-navy-1 {
  background-color: var(--color-navy-1);
}
.bg-navy-2 {
  background-color: var(--color-navy-2);
}
.bg-navy-3 {
  background-color: var(--color-navy-3);
}
.bg-navy-4 {
  background-color: var(--color-navy-4);
}
.bg-navy-5 {
  background-color: var(--color-navy-5);
}

.dataTables_wrapper.no-footer,
.relative {
  position: relative;
}

.navbar-collapse.collapse.show {
  z-index: 9999;
  background: #191919;
}

.header-link {
  color: var(--paleGray);
}

.header-link:hover {
  color: var(--paleGray);
  text-decoration: underline;
}

.sidebar-item {
  width: 100%;
  display: inline-block;
  color: var(--paleGray);
  padding: 8px 10px;
  border-radius: 6px;
  text-decoration: none !important;
}

.sidebar-item:hover {
  color: var(--paleGray);
  font-weight: bolder;
  text-decoration: underline;
}

.sidebar-item:nth-child(even) {
  background: #5d6c9e;
}

.sorted-table__header {
  padding: 10px;
  position: relative;
  top: 15px;
}

table.dataTable.compact tbody td {
  padding: 10px 4px;
}

.position-fixed {
  position: fixed;
}

.category_sort {
  user-select: none;
  cursor: pointer;
}

.category_sort .legend-label.sorted-column--asc {
  border-top: 2px solid var(--paleGray);
}

.category_sort .legend-label.sorted-column--desc {
  border-bottom: 2px solid var(--paleGray);
}

.mobile-nav-legend.show-element {
  display: flex;
  align-items: center;
}

.mobile-nav-legend.totals.show-element {
  display: inline-flex;
}

table.dataTable.no-footer { border: 0;}

table.dataTable.display tbody tr.odd:first-of-type,
table.dataTable.display tbody tr:first-of-type {
  font-weight: bolder;
}

.tables .row {
  margin: 0;
}

.mobile-nav-legend {
  display: none;
  justify-content: space-between;
}

.mobile-nav-legend.totals {
  display: none;
}

.mobile-nav-legend.totals .legend-label {
  font-size: 12px;
}

.mobile-nav-legend-label {
  float: left;
  display: inline-flex;
  align-items: flex-end;
  padding-left: 6px;
}

.mobile-nav-legend-items {
  display: inline-flex;
  width: 70%;
  float: right;
  position: relative;
  justify-content: space-between;
}

.mobile-nav-legend-item {
  float: left;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.legend-marker {
  font-size: 30px;
  line-height: 15px;
  margin-right: 3px;
}

.legend-label {
  font-size: 9px;
  font-weight: bolder;
  margin-top: 7px;
  margin-right: 10px;
  color: var(--paleGray);
  text-transform: uppercase;
}

.category_sort .legend-label {
  padding-bottom: 2px;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.name {
  color: var(--paleGray);
}

/* .confirmed {
  color: var(--stat-green);
}

.critical {
  color: var(--stat-orange);
}

.deaths {
  color: var(--stat-red);
}

.recovered {
  color: var(--stat-blue);
}

.active {
  color: var(--stat-yellow);
} */

.navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bolder;
}

.navbar {
  padding: 10px;
  background-color: rgb(26, 26, 26);
}

@media only screen and (max-width: 736px) {
  .fa-globe {
    display: none;
  }
  .navbar-brand {
    font-size: 15px;
  }
}

.mobile-dropdown-anchor {
  position: relative;
  bottom: 200px;
  height: 0;
  overflow: hidden;
}

.container--wrap {
  /* background-color: #445175; */
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
}

.container-fluid {
  padding-top: 15px;
}

/* .navbar.fixed-top {
  display: none;
  margin-top: 50px;
} */

.mobile-kofi {
  display: none;
}

.container--wrap:first-of-type {
  box-shadow: none;
}

.dropdown-menu {
  padding: 0;
  margin-bottom: 10px;
  background: none;
}

.dropdown-item {
  font-weight: bolder;
  color: var(--paleGray);
  background: #445175;
  padding: 5px 20px;
}

.dropdown-item:nth-child(even) {
  background: var(--color-navy-3);
}

.dropdown-item:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:visited,
.dropdown-toggle:focus {
  background: var(--paleGray);
  background: #445174;
  border: 1px solid #374061;
  color: var(--paleGray);
  font-weight: bolder;
}

.dropdown-item:hover {
  color: var(--paleGray);
  background: var(--color-navy-3);

}

.dropdown-toggle::after {
  float: right;
  top: 10px;
  position: relative;
}

.content {
  margin-top:60px;
}

@media only screen and (max-width: 980px) {
  /*   .navbar.fixed-top {
      display: flex;
    } */

  .mobile-kofi {
    display: block;
  }

  .row-wrapper {
    display: none;
  }

  /*   .container-fluid {
      padding-top: 65px;
    } */

}

.btn.disabled,
.btn[disabled],
.paginate_button.disabled,
fieldset[disabled] .btn {
  opacity: .5;
}

.container--wrap.padding {
  padding: 0 20px 10px 20px;
  margin-bottom: 10px;
}

.center {
  margin: 0 auto;
}

.sub-header {
  color: #DFDFEF;
  font-size: 18px;
  font-weight: bolder;
  margin: 5px 0;
}

.default-copy {
  color: #DFDFEF;
  font-size: 15px;
}

.text--cta-link {
  text-decoration: underline;
  color: var(--stat-red);
}

.text--center {
  text-align: center;
}

.recovery-meter-container {
  font-size: 14px;
  color: #DFDFEF;
  display: flex;
  align-items: center;
}

.recovery-meter {
  height: 15px;
  width: 25%;
  display: inline-block;
  position: relative;
  text-align: center;
  border: 2px solid var(--color-navy-3);
  border-radius: 10px;
}

.recovery-meter-label {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
}

@media only screen and (max-width: 980px) {
  .recovery-meter-label {
    font-size: 12px;
  }
}

.recovery-meter-stat {
  z-index: 3;
  position: absolute;
  left: 45%;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

.recovery-meter-progress {
  background: var(--stat-blue);
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  line-height: 11px;
  border-radius: 10px;
}

.text--green {
  color: var(--stat-green);
}

.text--red {
  color: var(--stat-red);
}

.text--orange {
  color: var(--stat-orange);
}

.text--yellow {
  color: var(--stat-yellow);
}

.text--amber {
  color: var(--stat-amber);
}

.text--blue {
  color: var(--stat-blue);
}

.text--cyan {
  color: var(--stat-cyan);
}

.text--gray {
  color: var(--paleGray);
}

.text--center {
  text-align: center;
}

.row {
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:last-child {
  border: none
}

.dataDesktop {
  display: none;
}

.dataMobile {
  display: block;
}

.hide-desktop {
  display: none;
}

@media only screen and (max-width: 980px) {
  .hide-desktop {
    display: inline-block;
  }
  .hide-mobile {
    display: none;
  }
}

.page-wrap {
  max-width: 75rem;
  margin: 0 auto;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 1.25rem 0;
}

input:focus~label, textarea:focus~label, input:valid~label
  /*, &.not-empty ~ label*/
, textarea:valid~label

  /*, &.not-empty ~ label*/
{
  font-size: 0.75em;
  color: #DFDFEF;
  top: -2.25rem;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input {
  float: left;
  width: 33.3333%;
  margin: 2rem 0 1rem;
  position: relative;
}

.styled-input label {
  color: #999;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s cubic-bezier(0.2, 0, 0.03, 1);
  pointer-events: none;
}

.styled-input.wide {
  width: 100%;
}

.styled-input input, textarea {
  padding: 1rem 1rem;
  border: 0;
  width: 100%;
  font-size: 1rem;
}

.styled-input input~span, textarea~span {
  display: block;
  width: 0;
  height: 3px;
  background: #E02829;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input input:focus, textarea:focus {
  outline: 0;
}

.styled-input input:focus~span, textarea:focus~span {
  width: 100%;
  transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
}

.styled-input textarea {
  width: 100%;
  min-height: 15em;
}

.data tbody td,
table.dataTable tbody td {
  font-size: 14px;
  /* width: 100%; */
}


.data thead th,
table.dataTable thead th {
  padding: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

table.dataTable thead td {
  padding: 2px 0;
}

.dataTables_wrapper {
  margin-top: 15px;
  /* margin-bottom: 10px; */
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border: none;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1,
table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1,
table.dataTable tbody tr,
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd,
table.dataTable.stripe tbody tr, table.dataTable.display tbody tr,
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: inherit;
}

.dataTables_empty {
  color: var(--paleGray);
}

table.dataTable thead th, table.dataTable thead td {
  border-bottom: none;
}

table.dataTable.compact thead.total_row th {
  font-size: 12px;
  padding-right: 0;
}

.dataTables_filter {
  position: absolute;
  right: 5px;
  top: -40px;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  margin-left: auto;
  display: block;
  width: 100%;
  font-size: 12px;
}

div.dataTables_paginate>* {
  display: flex;
  margin: 10px;
}

div.dataTables_paginate>span {
  margin: 10px 0;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate {
  display:flex;
  flex-wrap:wrap;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: block;
  margin-left: 4px;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-color: var(--color-navy-4);
  background-color: var(--color-navy-3);
  color: var(--paleGray);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor:no-drop;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled):hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:not(.disabled):active {
  color: var(--paleGray) !important;
  background-color: var(--color-primary) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: var(--paleGray) !important;
  background-color: var(--color-primary) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:not(.next):not(.previous) {
  width: 38px;
  height: 38px;
  line-height: 34px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
  padding: 6px 16px;
  margin: 0;
  /* margin: 10px; */
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em
}

@media screen and (max-width: 767px) {

  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em
  }
}

@media only screen and (max-width: 980px) {
  .dataTables_filter input {
    width: 100px;
  }
}

.dataTables_filter input {
  background: var(--color-navy-2);
  border: solid 2px var(--color-navy-3);
  border-radius: 2px;
  height: 30px;
  font-size: 12px;
  padding: 2px 5px;
  outline: none;
  color: var(--paleGray);
}

.sorted-table__header {
  color: #DFDFEF;
  font-size: 30px;
  font-weight: bolder;
  display: inline-grid;
  padding: 0px 0px 10px 10px;
  width: 100%;
}

.sorted-table__header .sorted-table__container .recovery-meter-container {
  margin-top: 5px;
  align-items: baseline;
}

.sorted-table__header .sorted-table__container .recovery-meter {
  width: 100px;
}

.sorted-table__header h2 {
  padding-bottom: 10px;
}

@media only screen and (max-width: 980px) {
  .sorted-table__header h2 {
    margin: 0;
    padding: 0;
  }
}

.sorted-table__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 980px) {
  table.dataTable.compact thead th,
  table.dataTable.compact thead td {
    padding: 0;
  }

  table.dataTable.display tbody tr.odd:first-of-type,
  table.dataTable.display tbody tr:first-of-type {
    font-weight: normal;
  }

  /* thead {
    visibility: hidden;
  } */

  td, th,
  table.dataTable tbody td {
    font-size: 12px;
  }

  .dataTables_wrapper .dataTables_filter {
    margin: 0;
  }

  .sorted-table__header {
    margin-bottom: 40px;
  }

  .dataTables_wrapper .dataTables_filter input,
  .dataTables_filter,
  .dataTables_filter label {
    width: 100%;
  }
}

/* .dataTables_scrollBody thead {
  display:none;
} */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  font-family: "Font Awesome 5 Pro";
  margin-left: 10px;
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
  outline: none;
}

.dataTables_scrollHead thead .sorting:after {
  opacity: 0.2;
  content: "\f0dc";
}

.dataTables_scrollHead thead .sorting_asc:after {
  content: "\f0de";
  color: var(--paleGray);
}

.dataTables_scrollHead thead .sorting_desc:after {
  content: "\f0dd";
  color: var(--paleGray);
}

div.dataTables_wrapper .row {
  margin-bottom:20px;
}

@media only screen and (max-width: 980px) {
  table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\f0dc";
  }

  table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    color: var(--paleGray);
  }

  table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    color: var(--paleGray);
  }
}

/* table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    color: #eee
} */

.save-button {
  padding-right: 10px;
  cursor: pointer
}

.save-button:hover {
  color: #ffc14f;
}

.star,
.save-button[data-status="selected"] {
  color: orange;
}

.saved-table .save-button {
  color: orange;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-navy-3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-navy-5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-navy-4);
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border: none;
  font-weight: 600;
}

table.dataTable thead tr {
  background: var(--color-navy-3);
  height: 40px;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background: var(--color-navy-2);
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.even {
  background: var(--color-navy-3);
}

.dataTables_wrapper .dataTables_scroll {
  border-radius: 6px;
  overflow: hidden;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-size: 14px;
  filter: grayscale(1)brightness(10);
}

.flex {
  display: flex;
}

.pos-rel {
  position: relative;
}

tbody tr>td:nth-child(1) {
  display: flex;
}

.navbar-dark .navbar-toggler {
  border: 0;
  padding: 0;
  outline: none;
}

.navbar-dark .navbar-toggler-icon {
  filter: brightness(4);
}

.cursor-pointer {
  cursor: pointer;
}

input,
select,
textarea {

}

a {
  color: var(--paleGray);
}

a:hover {
  color: #fff;
}

.form-control,
.form-control:focus {
  background-color: var(--color-navy-4);
  color: #d8dce6;
  outline: none;
  border: none;
}
.form-control:focus {
  box-shadow: 0 0 0px 2px var(--color-primary);
}

.toggle.btn {
  border: none;
  border-radius: 10px;
}

.toggle.btn .toggle-handle {
  border: none;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: var(--color-primary) !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: var(--color-success) !important;
  color: #fff;
}

.nopad {
  padding: 0;
}

.select-list .item {
  cursor: pointer;
  background-color: var(--color-navy-4);
}

.select-list .item:hover {
  background-color: var(--color-navy-3);
}

.select-list .item.selected {
  background-color: var(--color-success);
}

.rounded-10 {
  border-radius: 10px;
}

.btn,
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: none;
}

.btn-primary,
.btn-hover {
  background: var(--color-primary) !important;
}

.btn-primary.btn-twitter,
.btn-hover.btn-twitter {
  background: var(--color-twitter) !important;
}

.btn-primary.btn-instagram,
.btn-hover.btn-instagram {
  background: var(--color-instagram) !important;
}

table.dataTable, table.dataTable th, table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.jvectormap-tip {
  position: absolute;
  border: none;
  border-radius: 6px;
  background: var(--color-navy-5);
  color: var(--paleGray);
  font-family: sans-serif, Verdana;
  font-size: smaller;
  padding: 10px;
  width: 200px;
  pointer-events: none;
  font-weight: 600;
  z-index: 2000;
}

.jvectormap-tip table {
  font-size: 14px;
}

.jvectormap-tip table tr {
  margin-bottom: 10px;
}

.jvectormap-tip table td {
  padding: 0;
  padding-bottom: 4px;
}

.shapes-background {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  pointer-events: none;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.shapes-background .shapes{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shapes-background .shapes .shape {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  /* background: rgba(255, 255, 255, 0.2); */
  animation: animate-shape 25s linear infinite;
  bottom: -150px;
}

.shapes-background .shapes .shape > * {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.shapes-background .shapes .shape:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
  font-size: 80px;
}


.shapes-background .shapes .shape:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
  font-size: 20px;
}

.shapes-background .shapes .shape:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
  font-size: 20px;
}

.shapes-background .shapes .shape:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
  font-size: 60px;
}

.shapes-background .shapes .shape:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  font-size: 20px;
}

.shapes-background .shapes .shape:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
  font-size: 110px;
}

.shapes-background .shapes .shape:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
  font-size: 150px;
}

.shapes-background .shapes .shape:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
  font-size: 25px;
}

.shapes-background .shapes .shape:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
  font-size: 15px;
}

.shapes-background .shapes .shape:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
  font-size: 150px;
}

@keyframes animate-shape {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.5;
    border-radius: 50%;
  }

}
