<mat-card class="" [style.background-color]="data.background">   <div  class="text-center mb-4 rounded-10">
    <h3 class="title font-weight-bold"></h3>
    <span class="message">Vous avez <b><span class="risk">{{data.risk}}</span>%</b> de chance de <b>mourir</b> du covid-19 en étant infecté</span>
    <br>
    <br>
    <span>Veuillez noter qu'il ne s'agit que d'une estimation et non d'une évaluation absolue des effets que le covid-19 pourrait avoir sur vous.</span>
</div>
    <button mat-button (click)="onNoClick()">Fermer</button>
</mat-card>
