.articleImage{
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:700px;

}
.mat-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
  width:auto;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-display-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
}


.typecard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:auto;
  width:800px;

}
.mat-card{
  background-color:#232831 !important;
  margin-bottom: 20px;
}
.mat-card-content{
  color:white !important;
}
.mat-card-header{
  color:white !important;
}
.mat-card-subtitle{
  color:white !important;
}



/* =============
    Responsive
 =============== */

/* Large desktops and laptops */
@media (min-width: 1201px) {
  .articleImage{

    margin-bottom: 20px ;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1200px) {
  .articleImage{

    margin-bottom: 20px ;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .articleImage{

    margin-bottom: 20px ;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .articleImage{
    margin-bottom: 20px ;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .articleImage{
    margin-bottom: 20px ;
  }
}
