<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        2020 © Crée par <span class="text-danger"><i class="fas fa-heart"></i></span> par <a href="https://lorenzo-bernal.fr">Lorenzo Bernal</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://ko-fi.com/lolo69"><span class="text-warning"><i class="fas fa-mug-hot"></i></span> Achetez moi un café</a>
          <a href="https://www.lorenzo-bernal.fr/"><span class="text-success"><i class="far fa-paper-plane"></i></span> Contactez Moi</a>
        </div>
      </div>
    </div>
  </div>
</footer>
